<h1>Hello From CONTACT PAGE</h1>

<p>My name is <%= @my_name %></p>

<ul>
  <li>
    er + tab ---> <%  %>
  </li>
  <li>
    pe + tab ---> <%=  %>
  </li>
</ul>

<form action="/about">
  <input type="text" name="my_params">
  <input type="submit" value="Ask!">
</form>


<%= Time.now %>
